@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-335px * 3));
  }
}
.container{
  height: 100%;
  padding: auto 5rem;
}
.wrapper {
  display: flex;
  width: 75%;
  height: 100%;
  padding: 2rem;
  overflow-y: scroll;

  .wrapper-card {
    transition: 0.4s ease-out;
    left: 0px;
    filter: grayscale(50%) blur(1px);
    top: 0;
    
    &:not(:first-child) {
      margin-left: 20px;
    }

    &:hover {
      transform: translateY(-20px);
      transition: 0.4s ease-out;
      z-index: 1;
      filter: grayscale(0%) blur(0px);
    }

    &:hover ~ .wrapper-card {
      position: relative;
      transition: 0.4s ease-out;
    }
  }
}
