<h1>Contacto</h1>
<div class="contacto-info">
  <div class="contacto-item">
    <a href="https://www.linkedin.com/in/tu-perfil" target="_blank" aria-label="LinkedIn" class="icon-link">
        <img src="assets/logos/linkedin.png" alt="LinkedIn" width="40px" height="40px">
        <span class="profile-name" data-name="tu-perfil"></span>
    </a>
  </div>
  <div class="contacto-item">
    <a href="https://www.instagram.com/tu-usuario" target="_blank" aria-label="Instagram">
        <img src="assets/logos/instagram.svg" alt="Email" width="40px" height="40px">
    </a>
  </div>
  <div class="contacto-item">
    <a href="mailto:tu-correo@ejemplo.com" aria-label="Email">
      <img src="assets/logos/mail.svg" alt="Email" width="40px" height="40px">
    </a>
  </div>
</div>
