.codigo-fuente {
    background-color: #282c34;
    border-radius: 6px;
    padding: 20px;
    overflow-x: auto;
    margin: 20px;
}

.codigo-fuente pre {
    margin: 0;
}

.codigo-fuente code {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #abb2bf;
    ;
}

.keyword {
    color: #c678dd;
}

.string {
    color: #98c379;
}

.decorator {
    color: #61afef;
}

.property {
    color: #e06c75;
}

.class-name {
    color: #e5c07b;
}

.comment {
    color: #5c6370;
    font-style: italic;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
    border-bottom: 2px solid #61afef;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.boton-icono {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #e0e0e0;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.botones-flotantes {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 1000;
  
}
