@import "./../../../../styles.scss";
.card {
  width: 335px;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  background-color: $blanco-principal;

  -webkit-box-shadow: 0px 0px 18px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(150, 150, 150, 1);
  box-shadow: 0px 0px 18px 0px rgba(150, 150, 150, 1);

  .header {
    padding: 16px;
    // semibold

    .icono {
      width: 42px;
      height: 42px;
      padding: 3px 4px;
      border-radius: 50%;
      background-color: $blanco-oscuro;
    }
    .title {
      padding: 0px 8px;
      font-weight: 800;
    }
    .follow-me {
      font-weight: 800;
      color: #0095f6;
    }
  }

  .imagen {
    width: fit-content;
    height: 335px;
  }

  .descripcion {
    padding: 0px 16px 16px;

    .user {
      font-weight: 800;
      padding-right: 8px;
    }
    .texto {
      display: inline-block;
      font-weight: 300;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    .left-icons {
      width: auto;
      i {
        padding-right: 16px;
        -webkit-text-stroke: 0.4px;
        font-size: 24px;
      }
    }
    .right-icons {
      width: auto;
      i {
        -webkit-text-stroke: 0.4px;
        font-size: 24px;
      }
    }
  }
}
