@import './../styles.scss';


section {
  position: sticky;
  height: 100vh;
  width: 100vw;
  background-color:$blanco-secundario;

  &:nth-child(2n) {
    background-color: $blanco-primario;
  }

  display: grid;
  >* {
    align-self: center;
    justify-self: center;
  }
}
