@import './../styles.scss';


section {
  position: sticky;
  height: 100vh;
  width: 100vw;
  background-color: $background-main;

  &:nth-child(2n) {
    background-color: $background-secondary;
  }

  display: grid;
  >* {
    align-self: center;
    justify-self: center;
  }
}
