/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body,
div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
div,
p {
  margin: 0px;
  padding: 0px;
}


// https://coolors.co/001b2e-294c60-adb6c4-ffefd3-ffc49b

/* SCSS HEX */
$oxford-blue: #001b2eff;
$charcoal: #294c60ff;
$french-gray: #adb6c4ff;
$papaya-whip: #ffefd3ff;
$peach: #ffc49bff;

/* SCSS HSL */
$oxford-blue: hsla(205, 100%, 9%, 1);
$charcoal: hsla(202, 40%, 27%, 1);
$french-gray: hsla(217, 16%, 72%, 1);
$papaya-whip: hsla(38, 100%, 91%, 1);
$peach: hsla(25, 100%, 80%, 1);

/* SCSS RGB */
$oxford-blue: rgba(0, 27, 46, 1);
$charcoal: rgba(41, 76, 96, 1);
$french-gray: rgba(173, 182, 196, 1);
$papaya-whip: rgba(255, 239, 211, 1);
$peach: rgba(255, 196, 155, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-right: linear-gradient(90deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-bottom: linear-gradient(180deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-left: linear-gradient(270deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-top-right: linear-gradient(45deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-bottom-right: linear-gradient(135deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-top-left: linear-gradient(225deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-bottom-left: linear-gradient(315deg, #001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);
$gradient-radial: radial-gradient(#001b2eff, #294c60ff, #adb6c4ff, #ffefd3ff, #ffc49bff);


// https://coolors.co/564787-dbcbd8-f2fdff-9ad4d6-101935

/* CSS HEX */
// --ultra-violet: #564787ff;
// --thistle: #dbcbd8ff;
// --azure-web: #f2fdffff;
// --tiffany-blue: #9ad4d6ff;
// --oxford-blue: #101935ff;

// /* CSS HSL */
// --ultra-violet: hsla(254, 31%, 40%, 1);
// --thistle: hsla(311, 18%, 83%, 1);
// --azure-web: hsla(189, 100%, 97%, 1);
// --tiffany-blue: hsla(182, 42%, 72%, 1);
// --oxford-blue: hsla(225, 54%, 14%, 1);

// /* SCSS HEX */
// $ultra-violet: #564787ff;
// $thistle: #dbcbd8ff;
// $azure-web: #f2fdffff;
// $tiffany-blue: #9ad4d6ff;
// $oxford-blue: #101935ff;

// /* SCSS HSL */
// $ultra-violet: hsla(254, 31%, 40%, 1);
// $thistle: hsla(311, 18%, 83%, 1);
// $azure-web: hsla(189, 100%, 97%, 1);
// $tiffany-blue: hsla(182, 42%, 72%, 1);
// $oxford-blue: hsla(225, 54%, 14%, 1);

// /* SCSS RGB */
// $ultra-violet: rgba(86, 71, 135, 1);
// $thistle: rgba(219, 203, 216, 1);
// $azure-web: rgba(242, 253, 255, 1);
// $tiffany-blue: rgba(154, 212, 214, 1);
// $oxford-blue: rgba(16, 25, 53, 1);

/* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-right: linear-gradient(90deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-bottom: linear-gradient(180deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-left: linear-gradient(270deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-top-right: linear-gradient(45deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-bottom-right: linear-gradient(135deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-top-left: linear-gradient(225deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-bottom-left: linear-gradient(315deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
// $gradient-radial: radial-gradient(#564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);