// IMPORTS
@import "bootstrap-icons/font/bootstrap-icons.scss";

// VARIABLES

$negro-ligero: 828282;
$negro-quinario: #6b6b6b;
$negro-cuaternario: #555555;
$negro-terciario: #404040;
$negro-secundario: #2c2c2c;
$negro-primario: #1a1a1a;
$negro-principal: #000000;

$gris-25-oscuro: #686868;
$gris-nedruzco: #23282b;

$blanco-oscuro: #828282;
$blanco-quinario: #969696;
$blanco-cuaternario: #aaaaaa;
$blanco-terciario: #bfbfbf;
$blanco-secundario: #d4d4d4;
$blanco-primario: #e9e9e9;
$blanco-principal: #f6f6f6;

// https://coolors.co/001b2e-294c60-adb6c4-ffefd3-ffc49b

/* SCSS HEX */
$oxford-blue: #001b2eff;
$charcoal: #294c60ff;
$french-gray: #adb6c4ff;
$papaya-whip: #ffefd3ff;
$peach: #ffc49bff;


// https://coolors.co/564787-dbcbd8-f2fdff-9ad4d6-101935

// /* SCSS HEX */
// $ultra-violet: #564787ff;
// $thistle: #dbcbd8ff;
// $azure-web: #f2fdffff;
// $tiffany-blue: #9ad4d6ff;
// $oxford-blue: #101935ff;


// ESTILOS GENERALES

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  .dark-view{
    color: $blanco-secundario!important;
    fill: $blanco-secundario!important;
    background-color: $gris-nedruzco!important;
  }

  .light-view{
    color: $gris-nedruzco!important;
    fill: $gris-nedruzco!important;
    background-color: $blanco-secundario!important;
  }
}

html,
body,
div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
div,
p {
  margin: 0px;
  padding: 0px;
}